<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to AgriPi Homepage</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase" id="titleColor">AgriPi</h1>
        <h2 class="subtextColor mx-auto mt-2 mb-5" id="titleColor">A smart greenhouse monitoring <br>application powered by MQTT, IoT and <br>Amazon Cloud Services</h2>
        <a href="/greenhouse" class="btn btn-primary js-scroll-trigger" >Greenhouse</a>
		<a href="/farm1" class="btn btn-primary js-scroll-trigger" style="margin-left:10px; margin-right:10px; width:179.24px;">Farm 1</a>
		<a href="/farm2" class="btn btn-primary js-scroll-trigger" style="width:179.24px">Farm 2</a>
      </div>
    </div>
  </header>




  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; AgriPi 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/grayscale.min.js"></script>

</body>

</html>
